/********** Template CSS **********/
/* :root {
    --bs-primary: #009CFF;
    --bs-light: #F3F6F9;
    --bs-dark: #191C24;
} */

:root {
    --bs-blue: #0D6EFD;
    --bs-indigo: #6610f2;
    --bs-purple: #696cff;
    --bs-pink: #e83e8c;
    --bs-red: #ff3e1d;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffab00;
    --bs-green: #71dd37;
    --bs-teal: #20c997;
    --bs-cyan: #03c3ec;
    --bs-black: #435971;
    --bs-white: #fff;
    --bs-light-gray: #eceff3;
    --bs-light-gray25: #c8c6c661;
    --bs-gray: rgba(67, 89, 113, 0.6);
    --bs-gray-dark: rgba(67, 89, 113, 0.8);
    --bs-gray-25: rgba(67, 89, 113, 0.025);
    --bs-gray-50: rgb(67 89 113 / 28%);
    --bs-primary: #0D6EFD;
    --bs-secondary: #8592a3;
    --bs-success: #18A558;;
    --bs-info: #03c3ec;
    --bs-warning: #ffab00;
    --bs-danger: #ff3e1d;
    --bs-light: #f8f9fa;
    --bs-dark: #191C24;
    --bs-primary-rgb: 105, 108, 255;
    --bs-secondary-rgb: 133, 146, 163;
    --bs-success-rgb: 113, 221, 55;
    --bs-info-rgb: 3, 195, 236;
    --bs-warning-rgb: 255, 171, 0;
    --bs-danger-rgb: 255, 62, 29;
    --bs-light-rgb: 252, 253, 253;
    --bs-dark-rgb: 35, 52, 70;
    --bs-gray-rgb: 67, 89, 113;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 67, 89, 113;
    --bs-body-color-rgb: 105, 122, 141;
    --bs-body-bg-rgb: 245, 245, 249;
    --bs-font-sans-serif: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-root-font-size: 14px;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.9375rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.53;
    --bs-body-color: #697a8d;
    --bs-body-bg: #f5f5f9;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #d9dee3;
    --bs-card-border-color: #d1d1d1;
    --bs-border-color-translucent: rgba(67, 89, 113, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 0.625rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #696cff;
    --bs-link-hover-color: #5f61e6;
    --bs-code-color: #e83e8c;
    --bs-highlight-bg: #ffeecc;
    --dark-mode-bg1: #121212;
    --dark-mode-bg2: #18181885;
    --dark-mode-bg3: #282828;
    --dark-mode-bg4: #3a3b3c;
    --dark-mode-bg5: #404040;
    --light-mode-bg1: #f4f5fa;
}

html {
    font-size: var(--bs-root-font-size);

}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(67, 89, 113, 0);
    overflow-x: hidden;
}

/* SCROLLBAR DESIGN */
body::-webkit-scrollbar {
    width: 12px;
    background-color: var(--dark-mode-bg5);
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #333;
    border-radius: 10px;
    background: var(--dark-mode-bg5);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bs-light);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--dark-mode-bg5);
    /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary);
}


/* -------------------------------------BUTTOn----------------------------------- */
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.btn {
    --bs-btn-padding-x: 1.25rem;
    --bs-btn-padding-y: 0.4375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.9375rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.53;
    --bs-btn-color: #697a8d;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: none;
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.05rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: all .2s ease-in-out;
}


.btn-secondary {
    color: #fff;
    background-color: #8592a3;
    border-color: #8592a3;
    box-shadow: 0 .125rem .25rem 0 rgba(133, 146, 163, .4)
}

.btn-secondary:hover {
    color: #fff !important;
    background-color: #788393 !important;
    border-color: #788393 !important;
    transform: translateY(-1px) !important
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus,
.btn-secondary.focus {
    color: #fff;
    background-color: #788393;
    border-color: #788393;
    transform: translateY(0);
    box-shadow: none
}

.btn-check:checked+.btn-secondary,
.btn-check:active+.btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.show.dropdown-toggle,
.show>.btn-secondary.dropdown-toggle {
    color: #fff !important;
    background-color: #717c8b !important;
    border-color: #717c8b !important
}

.btn-check:checked+.btn-secondary:focus,
.btn-check:active+.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.btn-secondary.show.dropdown-toggle:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    box-shadow: none !important
}


/* -------------------------------------CARD----------------------------------- */

.card {
    --bs-card-spacer-y: 1.5rem;
    --bs-card-spacer-x: 1.5rem;
    --bs-card-title-spacer-y: 0.875rem;
    --bs-card-border-width: 1px;
    --bs-card-border-radius: 0.5rem;
    --bs-card-box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
    --bs-card-inner-border-radius: 0.5rem;
    --bs-card-cap-padding-y: 1.5rem;
    --bs-card-cap-padding-x: 1.5rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1.5rem;
    --bs-card-group-margin: 0.8125rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius)
}

.card>hr {
    margin-right: 0;
    margin-left: 0
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius)
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius)
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color)
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y)
}

.card-subtitle {
    margin-top: calc(-0.5*var(--bs-card-title-spacer-y));
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link+.card-link {
    margin-left: var(--bs-card-spacer-x)
}

.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color)
}

.card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0
}

.card-footer {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    color: var(--bs-card-cap-color);
    background-color: var(--bs-card-cap-bg);
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color)
}

.card-footer:last-child {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius)
}

.card-header-tabs {
    margin-right: calc(-0.5*var(--bs-card-cap-padding-x));
    margin-bottom: calc(-1*var(--bs-card-cap-padding-y));
    margin-left: calc(-0.5*var(--bs-card-cap-padding-x));
    border-bottom: 0
}

.card-header-tabs .nav-link.active {
    background-color: var(--bs-card-bg);
    border-bottom-color: var(--bs-card-bg)
}

.card-header-pills {
    margin-right: calc(-0.5*var(--bs-card-cap-padding-x));
    margin-left: calc(-0.5*var(--bs-card-cap-padding-x))
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--bs-card-img-overlay-padding);
    border-radius: var(--bs-card-inner-border-radius)
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%
}

.card-img,
.card-img-top {
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius)
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius)
}

.card-group>.card {
    margin-bottom: var(--bs-card-group-margin)
}

@media(min-width: 576px) {
    .card-group {
        display: flex;
        flex-flow: row wrap
    }

    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0
    }

    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0
    }

    .card-group>.card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-img-top,
    .card-group>.card:not(:last-child) .card-header {
        border-top-right-radius: 0
    }

    .card-group>.card:not(:last-child) .card-img-bottom,
    .card-group>.card:not(:last-child) .card-footer {
        border-bottom-right-radius: 0
    }

    .card-group>.card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-img-top,
    .card-group>.card:not(:first-child) .card-header {
        border-top-left-radius: 0
    }

    .card-group>.card:not(:first-child) .card-img-bottom,
    .card-group>.card:not(:first-child) .card-footer {
        border-bottom-left-radius: 0
    }
}


/* -------------------------------------BACK TO TOP BUTTON----------------------------------- */

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.back-to-top i {
    font-size: 20px;
    margin-top: 10px;
}



/* -------------------------------------SPINNER----------------------------------- */
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/* -------------------------------------BADGE----------------------------------- */
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-primary{
    background-color: var(--bs-primary);
}

.badge-success{
    background-color: var(--bs-success);
}

.badge-danger{
    background-color: var(--bs-danger);
}




/* -------------------------------------LAYOUT----------------------------------- */
.navbar {
    background-color: var(--light-mode-bg1);
}

.navbar a h2 {
    margin: 0px;
}

.navbar .navbar-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 5px;
    width: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(87, 87, 87, 0.603);
    margin: 5px 10px 20px;
}

.navbar .navbar-header small {
    font-size: 12px;
    width: 150px;
}

.navbar .navbar-header img {
    width: 100px;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--light-mode-bg1);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--light-mode-bg1);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/* -------------------------------------NAVBAR----------------------------------- */
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--bs-dark);
    font-weight: 500;
    border-radius: 0 30px 30px 0;
    outline: none;
}


.sidebar .navbar .navbar-nav .nav-link.active {
    color: #ffff;
    background: var(--bs-primary);
    border-left: 3px solid var(--bs-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-gray);
    color: var(--bs-light);
    border-radius: 30px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--bs-primary);
    border: 2px solid #fff;
}


.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--bs-dark);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}

/* -------------------------------------DATE PICKER----------------------------------- */
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--bs-primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--bs-primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--bs-primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--bs-dark);
    border-color: var(--bs-primary);
}


/* -------------------------------------AVATAR----------------------------------- */
.icon-circle {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
    border: 2px solid var(--bs-primary);
}

.icon-circle::before {
    transform: scale(.8);
}

.bg-label-success {
    background-color: #e8fadf !important;
    color: #71dd37 !important;
}

.bg-label-warning {
    background-color: #fff2d6 !important;
    color: #ffab00 !important;
}

.bg-label-primary {
    background-color: #e7e7ff !important;
    color: #696cff !important;
}

.bg-label-danger {
    background-color: #ffe0db !important;
    color: #ff3e1d !important;
}

.bg-label-info {
    background-color: #d7f5fc !important;
    color: #03c3ec !important;
}

.avatar {
    position: relative;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.avatar .avatar-initial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #8592a3;
    font-weight: 700;
}

/* -------------------------------------PAGINATION----------------------------------- */
.pagination {
    --bs-pagination-padding-x: 0.5125rem;
    --bs-pagination-padding-y: 0.625rem;
    --bs-pagination-font-size: 0.9375rem;
    --bs-pagination-color: #697a8d;
    --bs-pagination-bg: #f0f2f4;
    --bs-pagination-border-width: 0px;
    --bs-pagination-border-color: #d9dee3;
    --bs-pagination-border-radius: 0.25rem;
    --bs-pagination-hover-color: #697a8d;
    --bs-pagination-hover-bg: #e1e4e8;
    --bs-pagination-hover-border-color: rgba(67, 89, 113, 0.3);
    --bs-pagination-focus-color: #697a8d;
    --bs-pagination-focus-bg: #e1e4e8;
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: rgba(105, 108, 255, 0.08);
    --bs-pagination-active-border-color: rgba(105, 108, 255, 0.08);
    --bs-pagination-disabled-color: #a1acb8;
    --bs-pagination-disabled-bg: #f7f8f9;
    --bs-pagination-disabled-border-color: rgba(67, 89, 113, 0.3);
    display: flex;
    padding-left: 0;
    list-style: none
}

.page-link {
    position: relative;
    display: block;
    padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
    font-size: var(--bs-pagination-font-size);
    color: var(--bs-pagination-color);
    background-color: var(--bs-pagination-bg);
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .page-link {
        transition: none
    }
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color)
}

.page-link:focus {
    z-index: 3;
    color: var(--bs-pagination-focus-color);
    background-color: var(--bs-pagination-focus-bg);
    outline: 0;
    box-shadow: var(--bs-pagination-focus-box-shadow)
}

.page-link.active,
.active>.page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color)
}

.page-link.disabled,
.disabled>.page-link {
    color: var(--bs-pagination-disabled-color);
    pointer-events: none;
    background-color: var(--bs-pagination-disabled-bg);
    border-color: var(--bs-pagination-disabled-border-color)
}

.page-item:not(:first-child) .page-link {
    margin-left: .1875rem
}

.page-item .page-link {
    border-radius: var(--bs-pagination-border-radius)
}

.pagination-lg {
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-padding-y: 0.9375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-border-radius: 0.5rem
}

.pagination-sm {
    --bs-pagination-padding-x: 0.25rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 0.75rem;
    --bs-pagination-border-radius: 0.25rem
}


.pagination-secondary .page-item.active .page-link,
.pagination-secondary .page-item.active .page-link:hover,
.pagination-secondary .page-item.active .page-link:focus,
.pagination-secondary.pagination li.active>a:not(.page-link),
.pagination-secondary.pagination li.active>a:not(.page-link):hover,
.pagination-secondary.pagination li.active>a:not(.page-link):focus {
    border-color: #8592a3;
    background-color: #8592a3;
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(133, 146, 163, .4)
}

.pagination-success .page-item.active .page-link,
.pagination-success .page-item.active .page-link:hover,
.pagination-success .page-item.active .page-link:focus,
.pagination-success.pagination li.active>a:not(.page-link),
.pagination-success.pagination li.active>a:not(.page-link):hover,
.pagination-success.pagination li.active>a:not(.page-link):focus {
    border-color: #71dd37;
    background-color: #71dd37;
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(113, 221, 55, .4)
}

.pagination-info .page-item.active .page-link,
.pagination-info .page-item.active .page-link:hover,
.pagination-info .page-item.active .page-link:focus,
.pagination-info.pagination li.active>a:not(.page-link),
.pagination-info.pagination li.active>a:not(.page-link):hover,
.pagination-info.pagination li.active>a:not(.page-link):focus {
    border-color: #03c3ec;
    background-color: #03c3ec;
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(3, 195, 236, .4)
}

.pagination-warning .page-item.active .page-link,
.pagination-warning .page-item.active .page-link:hover,
.pagination-warning .page-item.active .page-link:focus,
.pagination-warning.pagination li.active>a:not(.page-link),
.pagination-warning.pagination li.active>a:not(.page-link):hover,
.pagination-warning.pagination li.active>a:not(.page-link):focus {
    border-color: #ffab00;
    background-color: #ffab00;
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(255, 171, 0, .4)
}

.pagination-danger .page-item.active .page-link,
.pagination-danger .page-item.active .page-link:hover,
.pagination-danger .page-item.active .page-link:focus,
.pagination-danger.pagination li.active>a:not(.page-link),
.pagination-danger.pagination li.active>a:not(.page-link):hover,
.pagination-danger.pagination li.active>a:not(.page-link):focus {
    border-color: #ff3e1d;
    background-color: #ff3e1d;
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(255, 62, 29, .4)
}

.pagination-dark .page-item.active .page-link,
.pagination-dark .page-item.active .page-link:hover,
.pagination-dark .page-item.active .page-link:focus,
.pagination-dark.pagination li.active>a:not(.page-link),
.pagination-dark.pagination li.active>a:not(.page-link):hover,
.pagination-dark.pagination li.active>a:not(.page-link):focus {
    border-color: #233446;
    background-color: #233446;
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(35, 52, 70, .4)
}

.pagination-gray .page-item.active .page-link,
.pagination-gray .page-item.active .page-link:hover,
.pagination-gray .page-item.active .page-link:focus,
.pagination-gray.pagination li.active>a:not(.page-link),
.pagination-gray.pagination li.active>a:not(.page-link):hover,
.pagination-gray.pagination li.active>a:not(.page-link):focus {
    border-color: rgba(67, 89, 113, .1);
    background-color: rgba(67, 89, 113, .1);
    color: #fff;
    box-shadow: 0 .125rem .25rem rgba(236, 238, 241, .4)
}

.page-item.first .page-link,
.page-item.last .page-link,
.page-item.next .page-link,
.page-item.prev .page-link,
.page-item.previous .page-link {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.page-item.disabled .page-link {
    border-color: #d9dee3
}

.page-item.active .page-link {
    margin: 0 .1rem 0 .3rem
}

.page-link,
.page-link>a {
    border-radius: .375rem;
    line-height: 1;
    text-align: center;
    min-width: calc(2.1875rem + 0px)
}

.page-link:focus,
.page-link>a:focus {
    color: #697a8d
}

.page-link.btn-primary {
    box-shadow: none !important
}

.pagination.pagination-square .page-item a {
    border-radius: 0
}

.pagination.pagination-round .page-item a {
    border-radius: 50%
}

.pagination-lg .page-link,
.pagination-lg>li>a:not(.page-link) {
    min-width: calc(2.875rem + 0px)
}

.pagination-lg>.page-item.first .page-link,
.pagination-lg>.page-item.last .page-link,
.pagination-lg>.page-item.next .page-link,
.pagination-lg>.page-item.prev .page-link,
.pagination-lg>.page-item.previous .page-link {
    padding-top: .853rem;
    padding-bottom: .853rem
}

.pagination-sm .page-link,
.pagination-sm>li>a:not(.page-link) {
    min-width: calc(1.5rem + 0px)
}

.pagination-sm .page-link .tf-icon,
.pagination-sm>li>a:not(.page-link) .tf-icon {
    font-size: .9375rem
}

.pagination-sm>.page-item.first .page-link,
.pagination-sm>.page-item.last .page-link,
.pagination-sm>.page-item.next .page-link,
.pagination-sm>.page-item.prev .page-link,
.pagination-sm>.page-item.previous .page-link {
    padding-top: .3rem;
    padding-bottom: .3rem
}

.btn-group>.btn-group:first-child>.btn:not([class*=btn-outline-]):first-child,
.input-group>.btn:not([class*=btn-outline-]):first-child,
:not(.btn-group):not(.input-group)>.btn-group>.btn:not([class*=btn-outline-]):first-child,
.input-group>.btn-group:first-child>.btn:not([class*=btn-outline-]):first-child {
    border-left-color: rgba(0, 0, 0, 0)
}


/* -------------------------------------DARK MODETOGGLE PILL COLOR----------------------------------- */
.toggle-pill-dark-mode input[type="checkbox"] {
    display: none;
}

.toggle-pill-dark-mode input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    border-radius: 1em;
    background: var(--bs-gray-50);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    border-color: var(--bs-white);
}

.toggle-pill-dark-mode input[type="checkbox"]+label:before {
    content: "🌞";
    display: flex;
    background-color: transparent;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    position: absolute;
    left: 0.2em;
    top: 1px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(0deg);
}

.toggle-pill-dark-mode input[type="checkbox"]:checked+label:before {
    content: "🌙" !important;
    left: 1.6em;
    top: 0.2em;
    -webkit-transform: rotate(295deg);
    transform: rotate(125deg);
}

.toggle-pill-dark-mode input[type="checkbox"]:checked+label {

    background: var(--bs-primary);

}

/* -------------------------------------TOGGLE PILL ----------------------------------- */
.toggle-pill input[type="checkbox"] {
    display: none;
}

.toggle-pill input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    border-radius: 1em;
    background: var(--bs-gray);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    border-color: var(--bs-white);
}

.toggle-pill input[type="checkbox"]+label:before {
    content: "";
    display: flex;
    background-color: var(--bs-light);
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(0deg);
}

.toggle-pill input[type="checkbox"]:checked+label:before {
    content: "" !important;
    left: 1.6em;
    top: 0.2em;
    -webkit-transform: rotate(295deg);
    transform: rotate(125deg);
}

.toggle-pill input[type="checkbox"]:checked+label {

    background: var(--bs-primary);

}



/* -------------------------------------TABLE----------------------------------- */

.table {
    border-color: rgba(255, 255, 255, 0.151) !important;
}


/* -------------------------------------SETTINGS CONTAINER----------------------------------- */
.fixed-plugin .fixed-plugin-button {
    background: #fff;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    font-size: 1.25rem;
    z-index: 990;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.fixed-plugin .fixed-plugin-button i {
    pointer-events: none;
}

.fixed-plugin .card {
    position: fixed !important;
    right: -360px;
    top: 0;
    height: 100%;
    left: auto !important;
    transform: unset !important;
    width: 360px;
    border-radius: 0;
    padding: 0 10px;
    transition: .2s ease;
    z-index: 1020;
}

.fixed-plugin .badge {
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
    transition: all 0.2s ease-in-out;
}

.fixed-plugin .badge:hover,
.fixed-plugin .badge.active {
    border-color: #344767;
}

.fixed-plugin .btn.bg-gradient-primary:not(:disabled):not(.disabled) {
    border: 1px solid transparent;
}

.fixed-plugin .btn.bg-gradient-primary:not(:disabled):not(.disabled):not(.active) {
    background-color: transparent;
    background-image: none;
    border: 1px solid #cb0c9f;
    color: #cb0c9f;
}

.fixed-plugin.show .card {
    right: 0;
}

/* -------------------------------------LIGHT MODE----------------------------------- */
.content-light-bg {
    background-color: var(--light-mode-bg1);
    color: var(--bs-dark);
}

.card-light-bg,
.table-light-bg {
    background-color: var(--bs-white);
    color: var(--bs-dark);
    border: var(--bs-card-border-width) solid var(--dark-mode-bg5);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}





/* -------------------------------------DARK MODE----------------------------------- */
.darkmode .content-dark-bg {
    background: var(--dark-mode-bg1) !important;
    color: var(--bs-light) !important;
}

.darkmode .navbar-dark-bg {
    background: var(--dark-mode-bg3) !important;
    color: var(--bs-light) !important;
}

.darkmode .icon-dark-bg {
    background: var(--dark-mode-bg4) !important;
    color: var(--bs-light) !important;
}

.darkmode .card-dark-bg,
.darkmode .table-dark-bg {
    background: var(--dark-mode-bg4) !important;
    color: var(--bs-light) !important;
    border: var(--bs-card-border-width) solid var(--dark-mode-bg5);
    box-shadow: none;
}

.darkmode .cardheader-dark-bg {
    background: var(--dark-mode-bg3) !important;
    color: var(--bs-light) !important;
}

.darkmode .nav-link,
.darkmode canvas,
.darkmode table {
    color: var(--bs-light) !important;
}

.darkmode .card, .darkmode .card-header{
    border: var(--bs-card-border-width) solid var(--dark-mode-bg5);
}


/* -------------------------------------MODAL----------------------------------- */
.modal-content {
    border-radius: 20px;
    /* box-shadow: 0 3px 10px rgba(255, 255, 255, 0.2); */
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #eceff3;
}

.modal.dtr-bs-modal .modal-body {
    padding: 15px;
}

.modal.show .modal-dialog {
    transform: scale(.9);
}

.modal-body {
    overflow-y: hidden;
    margin: 20px 8px 30px 20px;
    padding: 0px 15px 0px 0px;
}

/* SCROLLBAR DESIGN */
.modal-body::-webkit-scrollbar {
    width: 10px;
}

.modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #333;
    border-radius: 10px;
    background-color: var(--bs-light-gray);
}

.modal-body::-webkit-scrollbar-thumb {
    background: var(--bs-gray-dark);
    opacity: 0.6;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background: var(--bs-primary);
}

/* WHEN MODAL IS OPEN BLURS THE BG */
body.modal-open #maincontent {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: white;
}


/* -------------------------------------SWAL FIRE----------------------------------- */
.swal2-container.swal2-center>.swal2-popup {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: var(--bs-primary);
    color: #fff;
    font-size: 1em;
}



/* -------------------------------------INPUT GROUP----------------------------------- */
.inputgrp span {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #0D6EFD;
    color: whitesmoke;
    border: 2px solid #0D6EFD;
}

.inputgrp .span-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: var(--bs-primary);
    color: whitesmoke;
    border: 2px solid var(--bs-primary);
}

.inputgrp input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid var(--bs-primary);
}

/* -------------------------------------CUSTOM CSS----------------------------------- */

/* .input-group input{
    background: rgba(57, 63, 84, 0.8);
  } */

.custom-accordion .accordion-body {
    padding: 1rem 1.25rem;
    background-color: var(--bs-light-gray25);
}

.custom-accordion .accordion-button:not(.collapsed) {
    color: var(--bs-black);
    background-color: transparent;
    box-shadow: none;
}

.custom-accordion .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.rounded {
    border-radius: 15px !important;
}

.border-curve-top-left {
    border-top-left-radius: 10px !important;
}

.border-curve-bottom-left {
    border-bottom-left-radius: 10px !important;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

/* ERROR MESSAGE */

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    border: 1px solid red !important;
    background-color: #fff2f3;
    outline: none;
}

@keyframes shake {
    0% {
        left: -5px;
    }

    100% {
        right: -5px;
    }
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
    color: #aaa;
    background: var(--bs-light);
    position: relative;
    border-radius: 10px;
}

.nav-pills-custom a.nav-link.active {
    color: var(--bs-white);
}

.nav-pills-custom .nav-link.active {
    color: var(--bs-white);
    background: var(--bs-primary) !important;
}


/* Add indicator arrow for the active tab */
@media (min-width: 768px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid var(--bs-primary);
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 30px;
    width: 30px;
    border-style: none;
    font-size: 13px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--bs-primary);
    padding-right: 27px;
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 30px;
    height: 30px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search.show+.input-search {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 200px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*
*
* ==========================================
* Login Page
* ==========================================
*/


.login-card-container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.login-card-outside {
    padding: 10px;
    overflow: hidden;
    border-radius: 15px;
}

/* Login Card */
.login-card {
    width: 450px;
    background: white;
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.login-card::before {
    content: '';
    position: absolute;
    width: 300px;
    z-index: -1;
    top: -25%;
    left: 18%;
    transform: translateX(-50%);
    height: 150%;
    transition: all 0.5s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.login-card:hover::before {
    transform: scale(1.02);
    background: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    animation: rotBGimg 3s linear infinite;
}

/* ---------- */

/* Login Card Logo */

.login-card-logo img {
    width: 90px;
}

.login-card-logo p {
    font-size: 13px;
    margin: 0;
}

/* ---------- */

/* Login Card Standard */
.login-card-logo,
.login-card-header {
    text-align: center;
}

/* ---------- */

/* Login Card Header */
.login-card-header {
    margin-bottom: 2rem;
}

.login-card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    margin: 1rem 0px 0.5rem;
}

.login-card-header h1+h5 {
    font-size: calc(1rem * 0.9);
    opacity: .8;
    margin: 0;
}

/* ---------- */

/* Login Card Form */
.login-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item {
    position: relative;
}

.login-card-form .form-item .form-item-icon {
    position: absolute;
    top: 50%;
    transform: translate(0px, -10px);
    left: 1.4rem;
    font-size: 20px;
    line-height: 10px;

}


/* ---------- */
/* Login Card Form Elements */
.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;

}

.darkmode .login-card input:focus {
    background-color: white;
}

.darkmode .login-card input::placeholder {
    color: white;
}

.darkmode .login-card input:focus::placeholder {
    color: rgba(64, 64, 64, 0.747);
}

.darkmode .login-card input:focus+.form-item-icon {
    color: rgb(31, 31, 31);
}

.login-card input:focus {
    background-color: rgb(64 64 64 / 20%);
}

.login-card button {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;

}

/* .login-card button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    
} */
/* ---------- */


/* Responsive */
@media (max-width: 768px) {

    body {
        padding: 2rem 0;
    }

    .login-card {
        width: 280px;
        padding: 2rem;
    }

}

/*
*
* ==========================================
* Date Time
* ==========================================
*/

#dateTime{
    margin: 0px 0px 0px 20px;
}

/*
*
* ==========================================
* PC CARDS
* ==========================================
*/

.darkmode .pc-card{
    --bg-pc-card: var(--dark-mode-bg2) !important;
}

.pc-card{
    --bg-pc-card: #f0f0f0 !important;
    --color-pc-card: rgba(41, 41, 41, 0.829) !important;
}

#pc-card-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.occupied.pc-card{
    --pc-card-color: #e72d46;
}

.pc-card{
    --pc-card-color: #20c997;
}

.pc-card {
    width: 190px;
    height: 200px;
    background: var(--bg-pc-card);
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
    margin: 10px;
}

.pc-card:hover {
    box-shadow: 0 0 20px 1px rgba(37, 37, 37, 0.623);
    background-color: var(--pc-card-color);
}

.pc-card .blob {
    height: 10px;
    width: 75%;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    background-color: var(--pc-card-color);
    visibility: visible;
    transition: all 0.3s;
}


.pc-card .img {
    display: flex;
    margin: 30px auto 10px auto;
    width: 70px;
    height: 70px;
    background-color: var(--pc-card-color);
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.pc-card .img i {
    color: white;
    font-size: 30px;
}


.pc-card:hover .img i {
    display: none;
}

.pc-card .img span {
    visibility: hidden;
    width: 0;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    font-size: 0px;
    font-weight: 600;
    color: var(--color-pc-card);
}

.pc-card:hover .img span {
   visibility: visible;
   width: 100%;
   opacity: 1;
   font-size: 15px;
}



.pc-card:hover .img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    margin: 0 auto;
    background: #f0f0f0 !important;
    z-index: 99999;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.pc-card h2 {
    padding: 10px;
    font-size: 25px;
    transition: all 0.1s;
    z-index: -99;
    line-height: 17px;
    transition: all 1s;
    font-weight: 700;
}

.pc-card h2 span {
   color:  var(--pc-card-color);
}


.pc-card:hover h2 {
    opacity: 0;
    width: 100%;
    position: absolute;
   
}

.pc-card .button-container {
    display: grid;
    place-items: center;
    transition: all 0.5s;
    opacity: 0;
   visibility: hidden;
   height: 0px;
   margin-top: 15px;
}

.pc-card button {
    padding: 0.5em .8em;
    border: 2px solid white;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: white;
    border-radius: 5px;
   }

   
   .pc-card button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: white;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .pc-card button:hover::before {
    width: 105%;
   }
   
   .pc-card button:hover {
    color: #111;
   }
   

.pc-card:hover .button-container {
opacity: 1;
visibility: visible;
}